/* Contenedor principal del contenido de la app que se va a desenfocar */
.App-content {
  font-family: sans-serif;
  text-align: center;
  max-width: 800px;
  margin: 0 auto;
  padding: 20px;
  min-height: 100vh; /* Asegura que ocupe al menos toda la altura de la vista */
  box-sizing: border-box; /* Incluye padding en el tamaño total */

  /* Transición para el filtro */
  transition: filter 0.3s ease;
}

/* Esta clase se añade al .App-content cuando el formulario está visible */
.App-content.blur-background {
  filter: blur(5px); /* Aplica el desenfoque */
  pointer-events: none;
  user-select: none;
}

header {
  margin-bottom: 40px;
}

main {
  display: flex;
  justify-content: space-between;
  gap: 20px;
  background-color: transparent; /* Asegura que no tenga un fondo sólido */
}

.task-form, .task-list-container {
  flex: 1;
  border: 1px solid #ddd;
  padding: 20px;
  border-radius: 8px;
  text-align: left;
  background-color: transparent;
}

.task-list {
  display: flex;
  flex-direction: column;
  gap: 15px;
}